@model IEnumerable<Dominio.Advogado.Advogado>

@{
    ViewData["Title"] = "Index";
}

<h4>Advogados já cadastrados</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senioridade)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Editar", "AtulizarAdvogado", "Advogado", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "excluiradvogado", "Advogado", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
